@font-face {
  font-family: "Sans-Regular";
  src: url(../fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";
  src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";
  src: url(../fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";
  src: url(../fonts/Sans-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(244 244 245 / 0.8);
  font-family: Sans-Regular;
}

.form {
  margin: auto;
  display: grid;
  max-width: 56rem;
  gap: 2rem;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
  padding: 2.5rem;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.title {
  font-family: Sans-Bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.caption {
  margin-top: 1rem;
  font-size: 0.8rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128);
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: space-around;
}

.sect-title {
  font-family: Sans-DemiBold;
  font-size: 0.9rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  margin-bottom: 0.5rem;
}

.icon {
  margin-left: 0.75rem;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #e6e6e6cf;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(0 123 255 / var(--tw-text-opacity));
}

svg {
  display: block;
}

.mail-info {
  display: flex;
  align-items: center;
}

.mail-icon {
  width: 1.5rem;
}

.mail-link {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 0.79rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(0 123 255 / var(--tw-text-opacity));
}

.social-logos {
  display: flex;
}

.input-container {
  font-family: inherit;
}

.input {
  font-family: inherit;
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 0.75rem 1rem;
  font-size: 0.8rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55);
  outline-color: #3b82f6;
  margin-bottom: 0.5rem;
}

.input:focus {
  background-color: rgb(243 244 246);
}

.submit-button {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.4rem;
  background-color: rgb(59 130 246);
  font-family: inherit;
  padding: 0.75rem 1rem;
  font-size: 0.8rem;
  border: none;
  color: rgb(255 255 255);
}

.submit-button:hover {
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {
  .form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
